* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO */
body {
  font-family: Arial, sans-serif;
  background: #121212;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

/* CARD */
.card {
  background: #ffffff;
  width: 90%;
  max-width: 380px;

  padding: 20px;
  border-radius: 15px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

/* LOGO */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 120px;
}

/* EMPRESA */
.empresa {
  text-align: center;
  color: #a4161a;
  font-size: 18px;
  font-weight: bold;
}

/* SUBTITULO */
.subtitulo {
  text-align: center;
  font-size: 12px;
  margin-bottom: 15px;
  color: #555;
}

/* PRODUTO */
h1 {
  text-align: center;
  margin-bottom: 15px;
}

/* TEXTO */
p {
  margin: 6px 0;
  font-size: 14px;
}

#status {
  font-weight: bold;
  color: #0077b6;
}